


<div class="jumbotron">

  <% if flash[:notice_success] %>
    <div class="alert-box success radius"><%= flash[:notice_success] %></div>
  <% end %>

  <h1>Postoperative patient survey</h1> 

  <p>This site manages postoperative surveys for doctors.  If you have received a request to complete a survey, please click the link.</p>
  

</div>
