


<div class="jumbotron">

  <h1>Postoperative patient survey</h1> 
  <%=Rails.application.config.action_mailer.default_url_options%>
 
  <p>This application is under development.  It will allow doctors to manage postoperative patient surveys.</p>
</div>
