


<div class="jumbotron">

  <h1>Postoperative patient survey</h1> 
 
 
  <p>This application is under development.  It will allow doctors to manage postoperative patient surveys.</p>
  

  <p>Environment: <%= ENV["RAILS_ENV"]%></p>

  <p>Address: <%= request.original_url %></p>


</div>
