


<div class="jumbotron">

  <h1>Postoperative patient survey</h1> 
 
 
  <p>This application is under development.  It will allow doctors to manage postoperative patient surveys.</p>
  
  <p>Answer a survey here:   <%= link_to "Survey", rapidfire.root_path %></p>
  
  
  
  
  <p>Environment variable:</p>
  <p>Environment: <%= ENV["RAILS_ENV"]%>
</div>
